@charset "utf-8";
@import "~bulma/bulma";
@import '~bulma-switch';

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
}

footer{
    padding: 2rem 1.5rem 2rem !important;
    background-color: $border-light !important;
}